#biscuit {
    margin-left: 25%;
    font-size: 20px;
}
.margin{
    margin-top: 50px;
    margin-bottom: 50px;
}

.cookie-menu{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 10px;
}
#left{
    float: left;
}

#detailImg{
    margin-left: 50%;
}

.detail{
    margin-top: 40px;
}

#desc{
    margin-left: 50%;
}

#info{
    margin-top: 40px;
    margin-bottom: 40px;
}

.detail-grid{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 10px;
}

#form-register{
    margin-bottom: 40px;
    margin-top: 40px;
    text-align: center;
}

#form-login{
    margin-bottom: 40px;
    margin-top: 40px;
    text-align: center;
}

#profil{
    margin-bottom: 40px;
    margin-top: 40px;
    text-align: center;
}

#cart-list{
    margin-bottom: 40px;
    margin-top: 40px;
    margin-left: 20%;
    font-size: 20px;
}

.list-biscuit{
    display: inline-block;
    margin-right: 50px;
}

#cart-footer{
    text-align: center;
    font-size: 20px;
    margin-bottom: 40px;
}

#admin-list{
    margin-bottom: 40px;
    margin-top: 40px;
    margin-left: 15%;
}

.admin-biscuit{
    display: inline-block;
    margin-right: 50px;
    font-size: 20px;
}

.order-list{
    font-size: 20px;
    text-align: center;
}

.order-style{
    display: inline-block;
    margin-right: 50px;
    font-size: 20px;
}
.order-style-title{
    display: inline-block;
    margin-right: 30px;
    font-size: 20px;
}




